<html>
<head>
    <title>Tao bang trong AngularJS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="file:///home/ngankilo/Documents/Angular.js/main.html"></script>
    <style>
        table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd) {
            background-color: #eef2ab;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<h2>Ung dung AngularJS</h2>
<div ng-app="AngularApp" >
    <div ng-controller="sinhvienController">
        <table border="0">
            <tr><td>Nhap ho:</td><td><input type="text" ng-model="sinhvien.ho"></td></tr>
            <tr><td>Nhap ten: </td><td><input type="text" ng-model="sinhvien.ten"></td></tr>
            <tr><td>Ho va Ten: </td><td>{{sinhvien.hoten()}}</td></tr>
            <tr><td>Mon Hoc:</td><td>
                <table>
                    <tr>
                        <th>Ho va Ten</th>
                        <th>Diem thi</th>
                    </tr>
                    <tr ng-repeat="monhoc in sinhvien.tenMonHoc">
                        <td>{{monhoc.ten}}</td>
                        <td>{{monhoc.diemthi}}</td>
                    </tr>
                </table>
            </td></tr>
        </table>
    </div>
    <div ng-controller="SquareController">
        <p>Input Number: <input type="number" ng-model="number" />
            <button ng-click="square()">X<sup>2</sup></button>
        <p>Result: {{result}}</p>
    </div>
</div>

<script>
    let AngularApp = angular.module("AngularApp", []);
    AngularApp.controller('sinhvienController', function($scope) {
        $scope.sinhvien = {
            ho: "Tran Minh",
            ten: "Chinh",
            hocphi:200,
            tenMonHoc:[
                {ten:'Vat Ly Dai Cuong',diemthi:7.0},
                {ten:'Triet Hoc',diemthi:8.5},
                {ten:'Toan',diemthi:7.5},
                {ten:'Tieng Anh',diemthi:9.5},
                {ten:'Kinh Te',diemthi:9.0}
            ],
            hoten: function() {
                return $scope.sinhvien.ho + " " + $scope.sinhvien.ten;
            }
        };
    });
    AngularApp.service('squareCalculate', function(){
        this.calculate = function(a) {
            return a * a;
        }
    });
    AngularApp.controller('SquareController', function($scope, squareCalculate) {
        $scope.square     = function() {
            return $scope.result = squareCalculate.calculate($scope.number);
        };
    });
</script>
</body>
</html>